.auth-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form-div {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 1px rgb(234, 234, 234);
    border-radius: 8px;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem; 
}